*{
    border: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(170, 170, 170);
}
div#controles{
    width: 100%;
    height: 50px;
    background-color: rgb(97, 97, 97);
}
button.btn{
    width: 100px;
    height: 30px;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    margin: 10px;
}
#carro{
    background-color: rgb(44, 44, 143);
    border-radius: 4px;
    margin-top: 3px;
}