*{
    margin: 0px;
    padding: 0px;
}
input{
    border: 5px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}
button{
    background-color: lightgray;
    cursor: pointer;
    width: 205px;
    height: 30px;
    border: 5px solid gray;
    border-radius: 5px;
}