*{
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    text-align: center;
}

#caixa_calc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -202px;
    transition: .3s;
}
.aba{
    left: 0px !important;
    transition: .3s;
}

#calc{
    background-color: rgb(233, 233, 233);
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 280px;
    border-radius: 5px;
    border: 1px solid rgb(37, 37, 37);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}
#nome{
    margin: 5px;
}
#display{
    display: flex;
    justify-content: right;
    border: 1px solid black;
    font: normal 19px monospace;
    background-color: rgb(195, 240, 195);
    margin: 4px;
    width: 190px;
    height: 23px;
}
#teclas{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.tecla{
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    cursor: pointer;
}
.num{
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(82, 82, 82);
}
.op,#tigual{
    background-color: rgb(255, 96, 90);
}
.seta{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: rgba(204, 204, 204, 0.479);
    width: 20px;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.281);
}

#seta{
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
