@charset "UTF8";
*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div#form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin: 5px;
}
div#form > p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px; 
}
div#form input{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}
div#form button{
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    background-color: rgb(199, 199, 199);
}
div#res{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px;
    min-width: 200px;
}
.contato{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
div#res p {
    display: flex;
}
.lixeira{
    cursor: pointer;
    background-color: rgb(255, 177, 177);
    border-radius: 5px;
    margin-left: auto;
    width: 15px;
}